# Problem Set 1, Part 1
In this problem set, you practice Pandas fundamentals and gain familiarity with the Iowa Liquor Sales data set. Use the ```Iowa Liquor Sales 2019 only.csv.gz``` file in the shared student folder for you analysis.

# Pre-Question Cleaning

### Import necessary and desired module(s)

In [1]:
# import necessary and desired module(s)
import pathlib 
import pandas as pd
pd.set_option('display.max_columns', 24)
pd.set_option('display.max_rows', 100)
import pprint as pp
import numpy as np

### Create function called load_dataset that accepts a file path and returns a Pandas dataframe with the IA Liquor data set.

In [2]:
# Create function called load_dataset that accepts a file path and returns a Pandas dataframe with the IA Liquor data set.
try: 
    def load_dataset():
        """accepts file path to csv file and returns a dataframe with the IA liquor data set"""
        filepath = 'ILS_2019_on.csv.gz'
        data = pd.read_csv(filepath)
        return data
    
    load_dataset()
    
except Exception as e:
    print(f"An exception was raised: {e}")

In [3]:
data = load_dataset()

### Create a function called dataset_info() that takes a dataframe as a parameter and displays the number of rows and columns in the dataframe and then prints the names of all the columns.

In [4]:
# Create a function called dataset_info() that takes a dataframe as a parameter and displays the number of rows and columns in 
#  the dataframe and then prints the names of all the columns.
try: 
    def dataset_info():
        """takes the dataframe as a parameter, displays the number of rows and columns in the dataframe, and prints the name of all the columns"""

        shape = data.shape
        keys = data.keys()
        print(f'There are {shape[0]} rows and {shape[1]} columns in the dataframe')
        print()
        pp.pprint(keys)

    dataset_info()

except Exception as e:
    print(f"An exception was raised: {e}")

There are 2571775 rows and 24 columns in the dataframe

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

### Display the first 15 Records in the data set

In [5]:
# Display the first 15 Records in the data set
data.head(15)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-17350500033,2019-02-05,5636,Big Discount Liquor,5427 Center Point Rd,Cedar Rapids,52402.0,NaN,57.0,LINN,1031100.0,American Vodkas,301.0,FIFTH GENERATION INC,38174,Titos Handmade Vodka,12,375,5.42,8.13,12,97.56,4.5,1.18
1,INV-17417200011,2019-02-07,4084,Fareway Stores #061 / Ankeny,3205 North Ankeny Blvd,Ankeny,50023.0,NaN,77.0,Polk,1011100.0,Blended Whiskies,260.0,DIAGEO AMERICAS,25606,Seagrams 7 Crown,12,750,7.50,11.25,12,135.00,9.0,2.37
2,INV-17331000027,2019-02-04,2459,Reinhart Foods,200 State Po Box 98,Guthrie Center,50115.0,NaN,39.0,GUTHRIE,1031100.0,American Vodkas,434.0,LUXCO INC,36667,Korski Vodka,12,1000,3.84,5.76,2,11.52,2.0,0.52
3,INV-17364300003,2019-02-06,2551,Hy-Vee Food Store / Chariton,2001 West Court,Chariton,50049.0,NaN,59.0,LUCAS,1031100.0,American Vodkas,434.0,LUXCO INC,36308,Hawkeye Vodka,6,1750,7.17,10.76,114,1226.64,199.5,52.70
4,INV-17452900092,2019-02-11,2560,Hy-Vee Food Store / Marion,3600 Business Hwy 151 East,Marion,52302.0,NaN,57.0,LINN,1062500.0,Flavored Rum,370.0,PERNOD RICARD USA,42718,Malibu Coconut Rum,6,1750,16.49,24.74,2,49.48,3.5,0.92
5,INV-17333200031,2019-02-05,2478,Prairie Meadows,One Prairie Meadows Drive,Altoona,50009.0,NaN,77.0,POLK,1031200.0,American Flavored Vodka,380.0,Phillips Beverage,41694,UV Blue Raspberry,12,1000,7.50,11.25,3,33.75,3.0,0.79
6,INV-17417700067,2019-02-07,2528,Hy-Vee Food Store #3 / Des Moines,3221 SE 14th St,Des Moines,50315.0,NaN,77.0,POLK,1081500.0,Triple Sec,434.0,LUXCO INC,86506,Paramount Triple Sec,12,750,3.42,5.13,12,61.56,9.0,2.37
7,INV-17394800009,2019-02-06,5200,Otter Creek Country Store,"3445, County Home Rd",Robins,52328.0,NaN,57.0,LINN,1081600.0,Whiskey Liqueur,421.0,SAZERAC COMPANY INC,64864,Fireball Cinnamon Whisky,24,375,5.33,8.00,24,192.00,9.0,2.37
8,INV-17335100016,2019-02-05,2549,Hy-Vee Food Store / Indianola,910 N Jefferson,Indianola,50125.0,NaN,91.0,WARREN,1022200.0,100% Agave Tequila,65.0,Jim Beam Brands,89836,Hornitos Gold,12,750,13.50,20.25,12,243.00,9.0,2.37
9,INV-17333800036,2019-02-05,5057,Kum & Go #535 / Des Moines,4960 E Broadway Ave,Des Moines,50317.0,NaN,77.0,POLK,1011100.0,Blended Whiskies,260.0,DIAGEO AMERICAS,25604,Seagrams 7 Crown,12,375,3.50,5.25,4,21.00,1.5,0.39
10,INV-17522700005,2019-02-13,5465,Kum & Go #1215 / Ames,4506 Lincoln Way,Ames,50010.0,NaN,85.0,STORY,1031200.0,American Flavored Vodka,260.0,DIAGEO AMERICAS,77740,Smirnoff Raspberry,12,750,8.25,12.38,4,49.52,3.0,0.79
11,INV-17503800023,2019-02-12,5636,Big Discount Liquor,5427 Center Point Rd,Cedar Rapids,52402.0,NaN,57.0,LINN,1031100.0,American Vodkas,55.0,SAZERAC NORTH AMERICA,37934,Skol Vodka,24,375,1.74,2.61,24,62.64,9.0,2.37
12,INV-17522800056,2019-02-13,2500,Hy-Vee Food Store #1 / Ames,3800 W Lincoln Way,Ames,50010.0,NaN,85.0,STORY,1042100.0,Imported Dry Gins,260.0,DIAGEO AMERICAS,28886,Tanqueray No. Ten,12,750,17.49,26.24,2,52.48,1.5,0.39
13,INV-17676200112,2019-02-20,2500,Hy-Vee Food Store #1 / Ames,3800 W Lincoln Way,Ames,50010.0,NaN,85.0,STORY,1032200.0,Imported Flavored Vodka,65.0,Jim Beam Brands,36468,Effen Blood Orange,6,750,12.50,18.75,2,37.50,1.5,0.39
14,INV-17772000014,2019-02-26,2549,Hy-Vee Food Store / Indianola,910 N Jefferson,Indianola,50125.0,NaN,91.0,WARREN,1022200.0,100% Agave Tequila,410.0,Patron Spirits Company,88296,Patron Silver,12,750,27.50,41.25,12,495.00,9.0,2.37

### Carefully examine the data for issues.

In [6]:
#The first thing that needs to be done is convert each column name to lowercase and not have any whitespace
try:
    new_columns = []
    for col in data.columns:
        new_columns.append(col.replace(' ', '_').lower())
    new_columns

    data.columns = new_columns

except Exception as e:
    print(f"An exception was raised: {e}")

### Convert columns to their proper data type. Provide the code used to make the change and provide your reasoning in the comments. State which columns changed, how they changed, and why you made the change.

In [7]:
# Convert columns to their proper data type. Provide the code used to make the change and provide your reasoning in the comments. State which columns changed, how they changed, and why you made the change.
try:
    # The 'date' column type was changed to a datetime 
    data['date'] = pd.to_datetime(data['date'], format = '%Y-%m-%d')

    # The zip_code type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['zip_code'] = data.zip_code.astype(str)

    # The store_number type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['store_number'] = data.store_number.astype(str)

    # The county_number type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['county_number'] = data.county_number.astype(str)

    # The vendor_number type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['vendor_number'] = data.vendor_number.astype(str)

    # The item_number type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['item_number'] = data.item_number.astype(str)

    # The category type was changed to a string as we only need to count these instead of using other mathematical computations (sum,multiply,etc.)
    data['category'] = data.category.astype(str)
    
except Exception as e:
    print(f"An exception was raised: {e}")

### Provide code for any data changes that you made to correct the data or to make the data more consistent for analysis. Provide your reasoning for the changes.

In [8]:
# Provide code for any data changes that you made to correct the data or to make the data more consistent for analysis. Provide your reasoning for the changes.
try:
    # For each row with a 'nan' value for 'address', it is filled with the string 'Missing'
    data.address = data.address.fillna('Missing')
    
    # For each row with a 'nan' value for 'city', it is filled with the string 'Missing'
    data.city = data.city.fillna('Missing')
    
    # For each row with a 'nan' value for 'store_location', it is filled with the string 'Missing'
    data.store_location = data.store_location.fillna('Missing')
    
    # For each row with a 'nan' value for 'county', it is filled with the string 'Missing'
    data.county = data.county.fillna('Missing')
    
    # For each row with a 'nan' value for 'category_name', it is filled with the string 'Missing'
    data.category_name = data.category_name.fillna('Missing')
    
    # For each row with a 'nan' value for 'vendor_name', it is filled with the string 'Missing'
    data.vendor_name = data.vendor_name.fillna('Missing')

    # To combine the counties with the same spelling but dividided into lower and upper case values
    data.county = data.county.str.title()
    
except Exception as e:
    print(f"An exception was raised: {e}")

# Questions

### 1. How much liquor was sold by county (bottles sold, volume in gallons, and dollar amount)?

In [9]:
# How much liquor was sold by county (bottles sold, volume in gallons, and dollar amount)?
try:
    bottles_sold_by_county = data.groupby(['county'])['bottles_sold'].sum().sort_values(ascending = False)
    volume_sold_by_county = data.groupby(['county'])['volume_sold_(gallons)'].sum().sort_values(ascending = False)
    dollar_sales_by_county = data.groupby(['county'])['sale_(dollars)'].sum().sort_values(ascending = False)

    print(bottles_sold_by_county.head())
    print()
    print(volume_sold_by_county.head())
    print()
    print(dollar_sales_by_county.head())
    
except Exception as e:
    print(f"An exception was raised: {e}")

county
Polk          6605889
Linn          2668153
Scott         2239640
Black Hawk    1758666
Johnson       1485296
Name: bottles_sold, dtype: int64

county
Polk          1354429.15
Linn           549877.21
Scott          435154.26
Johnson        339502.28
Black Hawk     334715.65
Name: volume_sold_(gallons), dtype: float64

county
Polk          88707362.65
Linn          32133940.46
Scott         26867425.97
Johnson       21295976.07
Black Hawk    20591094.83
Name: sale_(dollars), dtype: float64

### 2. Provide a summary of total sales using these categories: Whiskey, Vodka, and Rum. Which category was highest in sales?

In [10]:
# Provide a summary of total sales using these categories: Whiskey, Vodka, and Rum. Which category was highest in sales?

try:
    #Using the contains string function, we can filter the data by category and sum the total sales
    whiskies_data = data[data['category_name'].str.contains('Whiskies')]
    whiskies_sales = whiskies_data['sale_(dollars)'].sum()


    vodka_data = data[data['category_name'].str.contains('Vodka')]
    vodka_sales = vodka_data['sale_(dollars)'].sum()


    rum_data = data[data['category_name'].str.contains('Rum')]
    rum_sales = rum_data['sale_(dollars)'].sum()

    print(f'Whiskey: ${whiskies_sales:.2f} total sales')
    print(f'Vodka:    ${vodka_sales:.2f} total sales')
    print(f'Rum:      ${rum_sales:.2f} total sales')
    print()
    print(f'Whiskey has the highest amount of sales with ${whiskies_sales:.2f} total sales')

except Exception as e:
    print(f"An exception was raised: {e}")

Whiskey: $115761299.91 total sales
Vodka:    $89046867.40 total sales
Rum:      $39606987.56 total sales

Whiskey has the highest amount of sales with $115761299.91 total sales